{% extends 'coins/base.html' %}

{% block title %}
    Collecto Hub
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2">
            {% for continent in continent_list %}
                <div>
                    <a href="{% url 'coins:continent-detail' continent.id %}">{{ continent.name }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="col-10">
            <div class="row">
                {% for coin in coin_list %}
                <div class="col-3 text-center border ">
                    <a href="{% url 'coins:coin-detail' pk=coin.id %}">
                        <img src="{{ coin.img_front.url }}" alt="coin" class="w-75 h-75 object-fit-contain border rounded">
                    </a>
                    <p>
                        {{ coin.country }} 
                        <br>
                        {{ coin.denomination }} {{ coin.year }}
                        <br>
                        <a href="{% url 'coins:user-cabinet' pk=coin.owner.id %}">
                            {{ coin.owner}}
                        </a>
                    </p>
                </div>        
                {% endfor %}
            </div>
        </div>
    </div>
    




    


{% endblock %}  